name: openism-core

on: 
    push:
    schedule:
      - cron: '0 0 * * *'

jobs:

    ubuntu:

        strategy:
            matrix:
                include:

                  - label: 'osim_jam_api_ubu24_py311'
                    python_version: '3.11.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-24.04

                  - label: 'osim_jam_api_ubu24_py312'
                    python_version: '3.12.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-24.04

                  - label: 'osim_jam_api_ubu24_py313'
                    python_version: '3.13.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-24.04

                  - label: 'osim_jam_api_ubu24_py314'
                    python_version: '3.14.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-24.04

                  - label: 'osim_jam_api_ubu22_py310'
                    python_version: '3.10.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-22.04

                  - label: 'osim_jam_api_ubu22_py311'
                    python_version: '3.11.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-22.04

                  - label: 'osim_jam_api_ubu22_py312'
                    python_version: '3.12.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-22.04

                  - label: 'osim_jam_api_ubu22_py313'
                    python_version: '3.13.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-22.04

                  - label: 'osim_jam_api_ubu22_py314'
                    python_version: '3.14.*'
                    numpy_version: '2.*'
                    os_version: ubuntu-22.04

        name: ${{ matrix.label }}
        runs-on: ${{ matrix.os_version }}

        steps:
          - uses: actions/checkout@v4

          - name: Install Python
            uses: actions/setup-python@v4
            with:
                python-version: ${{ matrix.python_version }}

          - name: Install Numpy
            run: |
                pip install pip --upgrade
                # pip install numpy==${{ matrix.numpy_version }}
                pip install numpy==${{ matrix.numpy_version }}

          - name: Install packages
            run: sudo apt-get update && sudo apt-get install --yes build-essential libtool autoconf pkg-config gfortran libopenblas-dev liblapack-dev freeglut3-dev libxi-dev libxmu-dev doxygen patchelf

          # - name: Cache SWIG
          #   id: cache-swig
          #   uses: actions/cache@v3
          #   with:
          #       path: ~/swig
          #       key: ${{ runner.os }}-swig

          - name: Install SWIG
            # if: steps.cache-swig.outputs.cache-hit != 'true'
            run: |
                mkdir ~/swig-source && cd ~/swig-source
                wget https://github.com/swig/swig/archive/refs/tags/v4.1.1.tar.gz
                tar xzf v4.1.1.tar.gz && cd swig-4.1.1
                sh autogen.sh && ./configure --prefix=$HOME/swig --disable-ccache
                make && make -j4 install

          # - name: Clone opensim-core repository
          #   run: |
          #       cd ~
          #       git clone --single-branch --branch opensim_jam https://github.com/mrrezaie/opensim-core.git opensim-core
          #       # git clone https://github.com/mrrezaie/opensim-jam-core.git opensim-core


          - name: Checkout opensim-core repository
            uses: actions/checkout@v4
            with:
                repository: mrrezaie/opensim-core
                path: opensim-core
                ref: opensim_jam


          - name: Copy to home
            run: |
                cp -r $env:GITHUB_WORKSPACE/opensim-core ~
                ls ~/opensim-core


          - name: Cache dependencies
            id: cache-dependencies
            uses: actions/cache@v3
            with:
                path: ~/opensim_dependencies_install
                key: ${{ runner.os }}-dependencies-${{ hashFiles('dependencies/*') }}


          - name: Build dependencies
            # if: steps.cache-dependencies.outputs.cache-hit != 'true'
            run: |
                mkdir ~/build_deps
                cd ~/build_deps
                DEP_CMAKE_ARGS=(~/opensim-core/dependencies -LAH)
                DEP_CMAKE_ARGS+=(-DCMAKE_INSTALL_PREFIX=~/opensim_dependencies_install)
                DEP_CMAKE_ARGS+=(-DCMAKE_BUILD_TYPE=Release)
                DEP_CMAKE_ARGS+=(-DSUPERBUILD_ezc3d=OFF)
                DEP_CMAKE_ARGS+=(-DOPENSIM_WITH_CASADI=ON)
                # DEP_CMAKE_ARGS+=(-DOPENSIM_DISABLE_LOG_FILE=ON)
                printf '%s\n' "${DEP_CMAKE_ARGS[@]}"
                cmake "${DEP_CMAKE_ARGS[@]}"
                # make --jobs 4
                cmake --build . --config Release -j4

          - name: Configure opensim-core
            id: configure
            run: |
                mkdir ~/build
                cd ~/build
                OSIM_CMAKE_ARGS=(~/opensim-core -LAH)
                OSIM_CMAKE_ARGS+=(-G"Unix Makefiles")
                OSIM_CMAKE_ARGS+=(-DCMAKE_INSTALL_PREFIX=~/opensim_core_install)
                OSIM_CMAKE_ARGS+=(-DCMAKE_BUILD_TYPE=Release)
                OSIM_CMAKE_ARGS+=(-DOPENSIM_DEPENDENCIES_DIR=~/opensim_dependencies_install)
                OSIM_CMAKE_ARGS+=(-DOPENSIM_C3D_PARSER=None)
                OSIM_CMAKE_ARGS+=(-DBUILD_PYTHON_WRAPPING=on)
                OSIM_CMAKE_ARGS+=(-DBUILD_JAVA_WRAPPING=off)
                OSIM_CMAKE_ARGS+=(-DOPENSIM_PYTHON_STANDALONE=on)
                OSIM_CMAKE_ARGS+=(-DOPENSIM_COPY_DEPENDENCIES=on)
                OSIM_CMAKE_ARGS+=(-DSWIG_DIR=~/swig/share/swig)
                OSIM_CMAKE_ARGS+=(-DSWIG_EXECUTABLE=~/swig/bin/swig)
                OSIM_CMAKE_ARGS+=(-DOPENSIM_INSTALL_UNIX_FHS=OFF)
                OSIM_CMAKE_ARGS+=(-DOPENSIM_DOXYGEN_USE_MATHJAX=off)
                # TODO: Update to simbody.github.io/latest
                OSIM_CMAKE_ARGS+=(-DOPENSIM_SIMBODY_DOXYGEN_LOCATION="https://simbody.github.io/simtk.org/api_docs/simbody/latest/")
                OSIM_CMAKE_ARGS+=(-DCMAKE_CXX_FLAGS="")
                printf '%s\n' "${OSIM_CMAKE_ARGS[@]}"
                cmake "${OSIM_CMAKE_ARGS[@]}"
                VERSION=`cmake -L . | grep OPENSIM_QUALIFIED_VERSION | cut -d "=" -f2`
                echo $VERSION
                echo "VERSION=$VERSION" >> $GITHUB_ENV
                echo "version=$VERSION" >> $GITHUB_OUTPUT

          - name: Build opensim-core
            run: |
              cd ~/build
              # make --jobs 4
              # make --jobs 4 install
              cmake --build . --config Release -j4
              cmake --install .


          - name: Paths
            run: |
                dir ~/
                dir ~/opensim_core_install
                dir ~/opensim_core_install/sdk/Python

          - name: Set current date
            id: date
            run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_ENV

          - name: Upload opensim-core
            uses: actions/upload-artifact@v4
            with:
              name: ${{ matrix.label }}-${{ env.date }}
              path: ~/opensim_core_install





    windows:

        strategy:

            # matrix:
            #     url: 
            #       - "https://example.com/first"
            #       - "https://example.com/second"
            #     python_version: 
            #       - "3.13.*"
            #       - "3.14.*"
            #     numpy_version: ["2.*"]

            matrix:
                # os: [windows-2022]
                include:

                  - label: 'osim_jam_api_win64_py314'
                    python_version: '3.14.*'
                    numpy_version: '2.*'
                    user: mrrezaie
                    branch: opensim_jam
                    c3d_parser: 'None'
                    ezc3d_bool: 'OFF'

                  - label: 'osim_jam_gui_win64_py314'
                    python_version: '3.14.*'
                    numpy_version: '2.*'
                    user: mrrezaie
                    branch: opensim_jam
                    c3d_parser: 'ezc3d'
                    ezc3d_bool: 'ON'

                  - label: 'osim_org_gui_win64_py314'
                    python_version: '3.14.*'
                    numpy_version: '2.*'
                    user: opensim-org
                    branch: main
                    c3d_parser: 'ezc3d'
                    ezc3d_bool: 'ON'

        name: ${{ matrix.label }}
        runs-on: windows-latest # 2025
        defaults:
            run:
                shell: powershell


        steps:


          # - name: Clone the workflow
          #   uses: actions/checkout@v4


          # - name: Clone and update opensim-core repository
          #   run: |
          #       cd ~
          #       # git clone https://github.com/mrrezaie/opensim-jam-core.git opensim-core
          #       # git clone https://github.com/opensim-org/opensim-core.git opensim-core
          #       git clone https://github.com/opensim-jam-org/opensim-core.git opensim-core

          #       cd ~/opensim-core

          #       git config --global user.email "mrrezaie@outlook.com"
          #       git config --global user.name "mrrezaie"
          #       # git init

          #       git remote add opensim_core_latest https://github.com/opensim-org/opensim-core.git
          #       git fetch opensim_core_latest main

          #       # git rev-parse opensim_core_latest/main
          #       git log -1 --pretty=format:"%s" opensim_core_latest/main

          #       git merge opensim_core_latest/main --allow-unrelated-histories

          #       # git pull opensim_core_latest main
          #       git push origin main





          - name: Install SWIG
            run: |
                choco install swig --version 4.1.1 --yes --limit-output --allow-downgrade
                swig -swiglib
                

          # - name: List packages
          #   run: choco list



          - name: Install Python ${{ matrix.python_version }}
            uses: actions/setup-python@v4
            with:
                python-version: ${{ matrix.python_version }}


          - name: Install NumPy 
            run: |
                python -m pip install --upgrade pip
                python -m pip install numpy==${{ matrix.numpy_version }} setuptools wheel



          # - name: Clone opensim-core repository
          #   run: |
          #       cd ~
          #       git clone ${{ matrix.url }} opensim-core
          #       # git clone https://github.com/mrrezaie/opensim-jam-core.git opensim-core
          #       # git clone https://github.com/opensim-org/opensim-core.git opensim-core
          #       # git clone https://github.com/opensim-jam-org/opensim-core.git opensim-core
          #       # git clone --single-branch --branch opensim-jam https://github.com/mrrezaie/opensim-core.git opensim-core




          - name: Checkout opensim-core repository
            uses: actions/checkout@v4
            with:
                repository: ${{ matrix.user }}/opensim-core
                path: opensim-core
                ref: ${{ matrix.branch }}


          - name: Copy to home
            run: |
                cp -r $env:GITHUB_WORKSPACE/opensim-core ~
                ls ~/opensim-core


          # - name: Paths
          #   run: |
          #       dir ~
          #       dir $env:GITHUB_WORKSPACE
          #       dir ~/opensim-core




          - name: Cache opensim-core dependencies
            id: cache-dependencies
            uses: actions/cache@v4
            with:
                path: ~/install_deps
                key: ${{ runner.os }}-dependencies-${{ hashFiles('opensim-core/dependencies/*') }}


          - name: Build opensim-core dependencies
            # if: steps.cache-dependencies.outputs.cache-hit != 'true'
            run: |
                mkdir ~/build_deps
                chdir ~/build_deps
                
                cmake -E env CXXFLAGS="/W3 /MD" cmake ~/opensim-core/dependencies -G "Visual Studio 17 2022" -A x64 -DSUPERBUILD_ezc3d=${{ matrix.ezc3d_bool }} -DOPENSIM_WITH_CASADI=ON -DCMAKE_INSTALL_PREFIX=~/install_deps
                cmake --build . --config Release --parallel 4











          # - name: Obtain opensim-core commit
          #   id: opensim-core-commit
          #   run: |
          #       cd opensim-core
          #       $opensim_core_commit=(git rev-parse HEAD)
          #       echo "hash=$opensim_core_commit" >> $GITHUB_OUTPUT
          #       echo $opensim_core_commit


          # - name: Cache opensim-core
          #   id: cache-core
          #   uses: actions/cache@v4
          #   with:
          #       path: ~/install_core
          #       key: ${{ runner.os }}-${{ steps.opensim-core-commit.outputs.hash }}




          - name: Build opensim-core
            # if: steps.cache-core.outputs.cache-hit != 'true'
            id: build
            run: |
                mkdir ~/build_core
                chdir ~/build_core
                
                cmake -E env CXXFLAGS="/W3 /MD -DSKIP_TIMING" cmake ~/opensim-core -G "Visual Studio 17 2022" -A x64 -DOPENSIM_DEPENDENCIES_DIR=~/install_deps -DOPENSIM_C3D_PARSER=${{ matrix.c3d_parser }} -DBUILD_PYTHON_WRAPPING=ON -DOPENSIM_WITH_CASADI=ON -DBUILD_JAVA_WRAPPING=ON -DBUILD_TESTING=OFF -DCMAKE_INSTALL_PREFIX=~/install_core
                cmake --build . --config Release --parallel 4
                cmake --install .


                # $env:match = cmake -L . | Select-String -Pattern OPENSIM_QUALIFIED_VERSION
                # $OPENSIM_VERSION = $env:match.split('=')[1]
                # echo "OPENSIM_VERSION=$OPENSIM_VERSION" >> $env:GITHUB_ENV
                

          # - name: Version
          #   run: echo ${{ env.OPENSIM_VERSION }}






          # - name: Clone opensim-models Geometry
          #   uses: actions/checkout@v4
          #   with:
          #       repository: opensim-org/opensim-models
          #       path: 'opensim-models'
          #       sparse-checkout: 'Geometry'
          #       # sparse-checkout-cone-mode: false


          # - name: Include Geometry folder
          #   run: |
          #       dir .
          #       move $env:GITHUB_WORKSPACE/opensim-models/Geometry ~/install_core




          - name: Set current date
            id: date
            run: echo "date=$(date +'%Y%m%d')" >> $env:GITHUB_ENV



          - name: Build wheel file
            if: ${{ matrix.ezc3d_bool == 'OFF' }}
            run: |
                chdir ~/install_core/sdk/Python
                python setup.py bdist_wheel
                # pip install ~/install_core/sdk/Python/dist/*.whl


          - name: Upload GUI installer
            if: ${{ matrix.ezc3d_bool == 'OFF' }}
            uses: actions/upload-artifact@v4
            with:
                name: ${{ matrix.label }}-${{ env.date }}
                path: ~/install_core/sdk/Python/dist/*.whl







          - name: Set up JDK 1.8
            if: ${{ matrix.ezc3d_bool == 'ON' }}
            uses: actions/setup-java@v4
            with:
                distribution: 'temurin'
                java-version: 8






          - name: Install Netbeans 12.3
            if: ${{ matrix.ezc3d_bool == 'ON' }}
            run: |
                (New-Object System.Net.WebClient).DownloadFile("https://archive.apache.org/dist/netbeans/netbeans/12.3/Apache-NetBeans-12.3-bin-windows-x64.exe", "Apache-NetBeans-12.3-bin-windows-x64.exe")
                $expectedHash = "0695d87d9c72dcf3738672ba83eb273dda02066fa5eee80896cb6ccf79175840367a13d22ab3cb9838dffaa9a219dd1f73aee0e27c085e5310da2e3bbbc92b2c"
                $hashFromFile = Get-FileHash -Algorithm SHA512 -Path .\Apache-NetBeans-12.3-bin-windows-x64.exe
                if (($hashFromFile.Hash) -ne ($expectedHash)) { Write-Error "Hash doesn't match." }
                .\Apache-NetBeans-12.3-bin-windows-x64.exe --silent | Out-Null # This installer is gregarious.
                echo "ANT_HOME=C:\\Program Files\\NetBeans-12.0\\netbeans\\extide\\ant" >> $GITHUB_ENV


          # - name: Setup NetBeans distribution
          #   uses: cjmach/setup-netbeans-action@v2.1
          #   with:
          #     version: '18'




          # - name: Clone opensim-gui repository
          #   uses: actions/checkout@v4
          #   with:
          #       repository: opensim-org/opensim-gui
          #       path: 'opensim-gui'


          - name: Clone opensim-gui repository
            if: ${{ matrix.ezc3d_bool == 'ON' }}
            run: |
                cd ~
                git clone https://github.com/opensim-org/opensim-gui.git opensim-gui


          - name: Update submodules
            if: ${{ matrix.ezc3d_bool == 'ON' }}
            run: |
                cd ~/opensim-gui
                git submodule update --init --recursive -- opensim-visualizer Gui/opensim/threejs

                git clone https://github.com/opensim-org/opensim-models.git opensim-models
                # git clone https://github.com/opensim-org/opensim-visualizer.git opensim-visualizer
                # git clone https://github.com/opensim-org/three.js.git Gui/opensim/threejs

                dir ~/opensim-gui/opensim-models





          - name: Build GUI
            if: ${{ matrix.ezc3d_bool == 'ON' }}
            id: build-gui
            run: |
                mkdir ~/build_gui
                chdir ~/build_gui

                cmake ~/opensim-gui/ `
                -G"Visual Studio 17 2022" -A x64 `
                -DCMAKE_PREFIX_PATH=~/install_core `
                -DANT_ARGS="-Dnbplatform.default.netbeans.dest.dir=C:/Program Files/NetBeans-12.3/netbeans;-Dnbplatform.default.harness.dir=C:/Program Files/NetBeans-12.3/netbeans/harness"
                cmake --build . --target CopyOpenSimCore --config Release
                cmake --build . --target CopyModels --config Release
                cmake --build . --target PrepareInstaller --config Release
                cmake --build . --target CopyJRE --config Release
                cmake --build . --target CopyVisualizer --config Release



          # - name: Build GUI installer
          #   run: |
          #       cd ~/opensim-gui/Gui/opensim/dist/installer
          #       makensis.exe make_installer.nsi


          # - name: Paths
          #   run: |
          #       dir ~/
          #       dir $env:GITHUB_WORKSPACE
          #       dir ~/opensim-gui/Gui/opensim/dist/installer





          - name: Upload GUI installer
            if: ${{ matrix.ezc3d_bool == 'ON' }}
            uses: actions/upload-artifact@v4
            with:
                name: ${{ matrix.label }}-${{ env.date }}
                path: ~/opensim-gui/Gui/opensim/dist/installer/opensim
                # path: ~/opensim-gui/Gui/opensim/dist/installer
                # path: ~/install_core/sdk/Python/dist/*.whl
